#a {grid-area: a;}
#b {grid-area: b;}
#c {grid-area: c;}
#d {grid-area: d;}
#e {grid-area: e;}
#f {grid-area: f;}
#g {grid-area: g;}
#h {grid-area: h;}
#i {grid-area: i;}
section {
    display: grid;
    grid-template-areas: 
    'a a a a a'
    'b c c d d'
    'b e f g h'
    'b i i i i';
  
}

#a{
    height: 100px;
    width: auto;

}
#b{
    height: 600px;
}
#c{
    height: 200px;
    width: auto;

}
#d{
    height: 200px;
    width: auto;

}
#e{
    height: 250px;
    width: auto;

}
#f{
    height: 250px;
    width: auto;

}
#g{
    height: 250px;
    width: auto;

}
#h{
    height: 250px;
    width: auto;

}
#i{
    height: 150px;
    width: auto;

}
@media screen and (max-width:321px)
{
    #a {grid-area: a; }
    #b {grid-area: b;}
    #c {grid-area: c;}
    #d {grid-area: d;}
    #e {grid-area: e;}
    #f {grid-area: f;}
    #g {grid-area: g;}
    #h {grid-area: h;}
    #i {grid-area: i;}
section {
    display: grid;
    grid-template-areas: 
    'a a'
    'b b'
    'c c'
    'd d'
    'e f'
    'g h'
    'i i';
  
}
body{
    width:321;
}

#a{
    height: 75px;
    width: auto;

}
#b{
    height: 150px;
}
#c{
    height: 125px;
    width: auto;

}
#d{
    height: 125px;
    width: auto;

}
#e{
    height: 250px;
    width: auto;

}
#f{
    height: 250px;
    width: auto;

}
#g{
    height: 250px;
    width: auto;

}
#h{
    height: 250px;
    width: auto;

}
#i{
    height: 80px;
    width: auto;

}

}


@media screen and (max-width:768px)
{
    #a {grid-area: a; }
    #b {grid-area: b;}
    #c {grid-area: c;}
    #d {grid-area: d;}
    #e {grid-area: e;}
    #f {grid-area: f;}
    #g {grid-area: g;}
    #h {grid-area: h;}
    #i {grid-area: i;}
section {
    display: grid;
    grid-template-areas: 
    'a a'
    'b b'
    'c c'
    'd d'
    'e f'
    'g h'
    'i i';
  
}
body{
    width:321;
}

#a{
    height: 75px;
    width: auto;

}
#b{
    height: 200px;
}
#c{
    height: 100px;
    width: auto;

}
#d{
    height: 100px;
    width: auto;

}
#e{
    height: 250px;
    width: auto;

}
#f{
    height: 250px;
    width: auto;

}
#g{
    height: 250px;
    width: auto;

}
#h{
    height: 250px;
    width: auto;

}
#i{
    height: 100px;
    width: auto;

}

}