#a{
    background-color: rgb(224, 102, 102);
    text-align: center;
    line-height: 100px;
}

#b{
    background-color: rgb(179, 127, 127);
    text-align: center;
    line-height: 600px;
}
#c{
    background-color: rgb(81, 134, 57);
    text-align: center;
    line-height: 200px;
}
#d{
    background-color: rgb(220, 102, 224);
    text-align: center;
    line-height: 200px;
}
#e{
    background-color: rgb(93, 117, 49);
    text-align: center;
    line-height: 250px;
}
#f{
    background-color: rgb(102, 151, 224);
    text-align: center;
    line-height: 250px;
}
#g{
    background-color: rgb(141, 224, 102);
    text-align: center;
    line-height: 250px;
}
#h{
    background-color: rgb(216, 224, 102);
    text-align: center;
    line-height: 250px;
}
#i{
    background-color: rgb(224, 102, 159);
    text-align: center;
    line-height: 150px;
}
@media screen and (max-width:768px)
{
    #a{
        background-color: rgb(40, 99, 107);
        text-align: center;
        line-height: 80px;
    }
    
    #b{
        background-color: rgb(145, 83, 163);
        text-align: center;
        line-height: 200px;
    }
    #c{
        background-color: rgb(149, 180, 136);
        text-align: center;
        line-height: 100px;
    }
    #d{
        background-color: rgb(30, 19, 31);
        text-align: center;
        line-height: 100px;
    }
    #e{
        background-color: rgb(143, 170, 93);
        text-align: center;
        line-height: 250px;
    }
    #f{
        background-color: rgb(75, 90, 116);
        text-align: center;
        line-height: 250px;
    }
    #g{
        background-color: rgb(112, 63, 92);
        text-align: center;
        line-height: 250px;
    }
    #h{
        background-color: rgb(207, 212, 97);
        text-align: center;
        line-height: 250px;
    }
    #i{
        background-color: rgb(89, 127, 145);
        text-align: center;
        line-height: 100px;
    }
}
@media screen and (max-width:321px)
{
    #a{
        background-color: rgb(139, 122, 122);
        text-align: center;
        line-height: 75px;
    }
    
    #b{
        background-color: rgb(164, 127, 179);
        text-align: center;
        line-height: 150px;
    }
    #c{
        background-color: rgb(106, 57, 134);
        text-align: center;
        line-height: 125px;
    }
    #d{
        background-color: rgb(64, 54, 77);
        text-align: center;
        line-height: 125px;
    }
    #e{
        background-color: rgb(146, 120, 5);
        text-align: center;
        line-height: 250px;
    }
    #f{
        background-color: rgb(65, 158, 130);
        text-align: center;
        line-height: 250px;

    }
    #g{
        background-color: rgb(167, 196, 38);
        text-align: center;
        line-height: 250px;
    }
    #h{
        background-color: rgb(224, 102, 187);
        text-align: center;
        line-height: 250px;
    }
    #i{
        background-color: rgb(107, 50, 77);
        text-align: center;
        line-height: 80px;
    }
}